.App {
  text-align: center;
}

.App-logo {
  /* height: 40vmin; */
  /* height: 15%; */
  /* width: 10%; */
  height: 200px;
  width: 200px;
  background-size: cover;
  pointer-events: none;
  background-image: url('./holbie.jpg');
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /* background-color: #282c34; */
  /* min-height: 100vh; */
  display: flex;
  flex-direction: row;
  align-items: left;
  justify-content: left;
  gap: 10%;
  font-size: calc(10px + 2vmin);
  color: red;
  border-bottom: 0.5rem solid;
  border-color: red;
  vertical-align: middle;
}

.App-header h1 {
  font-size: xx-large;
  text-align: end;
  line-height: 200px;
}

.App-body {
}

.App-footer {
  position: absolute;
  width: 95vw;
  bottom: 0;
  border-top: 0.5rem solid;
  border-color: red;
  text-align: center;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
